:root {
  --htc-color: #1f4766;
  --red: #e5261e;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header {
  margin-top: 20px;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header h1 {
  font-size: 20px;
  color: #333333;
  font-family: "Rubik", sans-serif;
}

.header input {
  border: none;
  border-bottom: 1px solid #333333;
  width: 320px;
  height: 25px;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

.find-btn {
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--red);
  background-color: #ffffff;
}

.sign-in {
  height: 38px;
  width: 113px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: var(--red);
}

.main {
  margin-bottom: 50px;
  width: 80vw;
}

.main-headers {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-headers button {
  background-color: #ffffff;
  border: none;
  font-size: 28px;
  margin-right: 15px;
}

.movies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-item {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.image-wrapper {
  width: 280px;
  height: 370px;
  border: 2px solid #ffff;
  border-radius: 8px;
}

.movie-item img {
  border-radius: 8px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.movie-item-name {
  color: #333333;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.genre {
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #f2c94c;
  color: #ffffff;
  font-size: 24px;
  width: 280px;
  height: 208px;
  display: flex;
  flex-direction: column;
  offset: 0px 0px;
}

.channels {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channel-item {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  border-radius: 8px;
}

.channel-item img {
  height: 100px;
}

.channel-title {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.program {
  display: flex;
  flex-direction: row;
}

.program .program-hour {
  margin-right: 20px;
}

.footer {
  width: 100%;
  background-color: #f2f2f2;
}

.footer p {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: #333333;
}

.footer a {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: var(--htc-color);
  text-decoration: none;
}
